<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wave.backend.mapper.OrderitemMapper">

    <resultMap id="BaseResultMap" type="com.wave.backend.entity.OrderItem">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="bookId" column="bookId" jdbcType="INTEGER"/>
            <result property="orderId" column="orderId" jdbcType="INTEGER"/>
            <result property="num" column="num" jdbcType="INTEGER"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,bookId,orderId,
        num,price
    </sql>
</mapper>
